<section id="hero" class="hero-section flex-center desktop">
    <div class="overlay-landing"></div>
    <div class="hero-content flex-vertical">
      <div class="hero-text-container">
        <h1 class="hero-heading">{{ title }}</h1>
        <p class="hero-second-heading">{{ subtitle }}</p>
      </div>
    </div>
    <video 
      id="mainVideo"
      class="video align-right"
      [poster]="videoUrls.poster"
      muted 
      playsinline 
      autoplay 
      loop>
      <source [src]="videoUrls.mp4" type="video/mp4">
      <source [src]="videoUrls.webm" type="video/webm">
    </video>
  </section>

